@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Welcome to HealthDataApp!</h1>
    <p>
        We are excited to have you on board. Explore our features to manage and monitor your health data effectively.
    </p>
    <p>
        If you need any assistance, feel free to reach out to our support team.
    </p>
    <a class="btn btn-primary" asp-area="" asp-controller="Patients" asp-action="Index">Get Started</a>
</div>

